<div class="choose">
	<h2>Choose your color and continue.</h2>

	<div class="choose-color">
		<%= form_for @order do |f| %>
			<ul>
					<li class="black"></li>
					<li class="color-text"><%= f.radio_button(:color, "black") %> Black</li>
					<li class="off-white"></li>
					<li class="color-text"><%= f.radio_button(:color, "off-white") %> Off-White</li>
					<li class="white"></li>
					<li class="color-text"><%= f.radio_button(:color, "white") %> White</li>
					<li class="taupe"></li>
					<li class="color-text"><%= f.radio_button(:color, "taupe") %> Taupe</li>
			</ul>
				<%= f.submit "CONFIRM COLOR", :class => "choose-submit" %>
		<% end %>
	</div>

		<p>
			Installing your new redeblinds is extremely simple. With redeblinds, you simply fit your brackets, determine which way you prefer your blinds to face, snap your blinds into place and fix your child safe chain tidie.
		</p>

</div>