<div class="login">
	<h1>redeblinds</h1>
	<%= form_tag sessions_path do %>
		<p>
	    	<%= text_field_tag :email, params[:email], :class => "login-input", :placeholder => "Email Address", :autofocus => true %>
	  	</p>
	  	<p>
	  		<%= password_field_tag :password, params[:password], :class => "login-input", :placeholder => "Password" %>
	  	</p>
	  	<p>
	  		<%= submit_tag "Submit", :class => "login-submit" %>
	  	</p>
	<% end %>
		<p class="login-help">
			<a href="#">Forgot password?</a><br />
		</p>
</div>

<% flash.each do |name, msg| %>
	<p>
  		<%= content_tag :div, msg, :id => "flash_#{name}" %>
  	</p>
<% end %>