<div class="sign-up-form">
	<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<div class="sign-error-message">
				<h4>Invalid form</h4>
				<ul>
					<% for message in @user.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<p>
			<%= f.text_field :email, :class => "sign-up-input", :placeholder => "Enter your email" %><br />
		</p>
		<p>
			<%= f.password_field :password, :class => "sign-up-input", :placeholder => "Enter your password" %><br />
		</p>
		<p>
			<%= f.password_field :password_confirmation, :class => "sign-up-input", :placeholder => "Re-enter your password" %><br />
		</p>
		<p>
			<%= f.submit "SUBMIT", :class => "sign-up-submit" %>
		</p>
	<% end %>
</div>

<% if current_user %>
    <%= link_to root_url %>
<% end %>